<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.kpopdance" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_yourkdance"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_yourkdance_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--꼭 실제 ID로 변경할 것 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713">
        </meta-data>

        <activity android:name=".ui.MainActivity"
            android:configChanges="layoutDirection|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.LoadingActivity"/>

        <activity android:name=".ui.DanceActivity"/>

    </application>

</manifest>